.SuppliersComponent {
    margin-top: 20px;
}

.SuppliersComponentItem {
    width: 20%;
    padding: 20px 0;
    display: flex;
}

.SuppliersComponentItem h5{
    font-weight: 600;
    margin: 0;
    padding-left: 10px;
}

.SuppliersComponentItem span{
    margin: 0;
    padding-left: 10px;
    font-size: 10px;
    color: #bec6ce;
}